header img.logo {
    width: 100%;
    height: 100%;
    max-width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}

div.menu aside li a {
    text-decoration: none;
    color:white;
    font-size: 2em;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    margin: 25px;
    padding-top: 10px;
    line-height: 150%;
    
}

div.menu aside li a:hover {
    text-decoration: underline;
}

div.menu aside ul {
        position: fixed;
        list-style-type: none;
        top:100px;
        right: 0px;
    }

     
.MainImage:hover {
    opacity: 0.5;
           }

.MainImage {
    width: 100%;
    height: 100%;
}

.articlemain {
    width: 100vw;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

header h1 {
    font-size:3em;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    text-align: center;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    margin-left: 25px;
    margin-right: 25px;
    line-height: 175%;
    
}

body main {
    font-size:16px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
}


#links {
    display: none;
    position: fixed;
    right: 0px;
    top: 100px;
    background-color: black; 
    width: 50vw;
    height: 50vh;
   
}

#menubutton {
    position:fixed ;
    right: 0px;
    top: 0px;
    background-color: black;
    z-index:10;
    border-radius: 50px;
}

#menuimage {
    width: 65px;
    height: 65px;
}






