header img.logo {
    width: 100%;
    height: 100%;
    max-width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}

div.menu aside li a {
    text-decoration: none;
    color:white;
    font-size: 2em;
    font-family: 'josefin_sansthin', sans-serif;
    margin: 25px;
    padding-top: 10px;
    line-height: 150%;
    
}

div.menu aside li a:hover {
    text-decoration: underline;
}

div.menu aside ul {
        position: fixed;
        list-style-type: none;
        top:100px;
        right: 0px;
    }

.related:hover {
    opacity: 0.5;

}

.related {
    position: relative;
    height: 65%;
    width: 65%;
}

     
.MainImage:hover {
    opacity: 0.5;
           }

.MainImage {
    width: 100%;
    height: 100%;
}

.articlemain {
    width: 100vw;
    padding-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

header h1 {
    font-size:3em;
    font-family: 'josefin_sansthin', sans-serif;
    font-weight: 100;
    text-align: center;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    margin-left: 25px;
    margin-right: 25px;
    line-height: 175%;
    
}

body main {
    font-size:1em;
    text-align: center;
    font-family: 'josefin_sanslight', sans-serif;
}


#links {
    display: none;
    position: fixed;
    right: 0px;
    top: 100px;
    background-color: black; 
    width: 50vw;
    height: 50vh;
   
}

#menubutton {
    position:fixed ;
    right: 0px;
    top: 0px;
    background-color: black;
    z-index:10;
    border-radius: 50px;
    padding-left: .5em;
    padding-right: .5em;
}

#menubutton {
    z-index:15;
    color: white;
    font-size: 1em;
    font-family: 'josefin_sansthin', sans-serif;
    padding-bottom: .75em;
    line-height: .75em;
}

#menuimage {
    width: 65px;
    height: 65px;
}

@font-face {
    font-family: 'josefin_sanslight';
    src: url('fonts/josefinsans-light-webfont.woff2') format('woff2'),
         url('fonts/josefinsans-light-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;

}




@font-face {
    font-family: 'josefin_sansregular';
    src: url('fonts/josefinsans-regular-webfont.woff2') format('woff2'),
         url('fonts/josefinsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'josefin_anssemibold';
    src: url('fonts/josefinsans-semibold-webfont.woff2') format('woff2'),
         url('fonts/josefinsans-semibold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'josefin_sansthin';
    src: url('fonts/josefinsans-thin-webfont.woff2') format('woff2'),
         url('fonts/josefinsans-thin-webfont.woff') format('woff');
    font-weight: thin;
    font-style: normal;

}

.bodyimages {
    width: 65%;
    height: 65%;
    display: block;
    margin-right:auto;
    margin-left:auto;
    padding:25px;
    border-bottom: 1px solid black;
}

footer {
    font-size:1em;
    text-align: center;
    font-family: 'josefin_sansregular', sans-serif;
    border-top: 1px solid black;
    padding-top: 10px;
    margin-right:auto;
    margin-left:auto;
}

.articleimages {
    border-bottom: 1px solid black;
    padding:25px;
    text-align: center;
    font-size: 1.3em;
    font-family: 'josefin_sansregular', sans-serif;
}

.articleimages a {
    font-size:1em;
    font-family: 'josefin_sanslight', sans-serif;
    text-decoration: none;
    color: black;
    font-style: italic;
}

.articleimages a:hover {
    text-decoration:underline;
}

.links {
    text-decoration: none;
    color: black;
    font-family: 'josefin_sanslight', sans-serif;
    font-style: italic;
    font-size: 1em;
}

.links:hover {
    text-decoration: underline;
}

h2 {
    font-family: 'josefin_sansregular', sans-serif;
    font-size: 1em;
    text-align:center;
}